.DS_Store
build/

# Xcode	
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
*.hmap
*.ipa
*.xcuserstate
*.xccheckout
*.moved-aside
*.perspectivev3
xcuserdata
DerivedData
platforms/ios/build/

# Android
build.xml
local.properties
gradlew
gradlew.bat
gradle
ant-built
ant-gen
gen
out
platforms/android/build